*{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

body{
    padding-bottom: 140px;
}

main{
    max-width: 1440px;
    margin: 0px auto;
}
/* header styles  */

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 228px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav li {
    
    margin-right:60px ;
    font-size: 1rem;
    font-weight: 500;
}

nav > h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;

}

nav a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h1{
    margin: auto;
    max-width: 650px;
    text-align: center;
    font-size: 4rem;
    color: #131313;

}

.banner p{
    font-size: 1rem;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.banner button , .teams button{
    padding: 20px 25px;
    border-radius: 8px;
    border: 0px;
    color: white;
    background-color: #FF900E;
    font-size: 1.25rem;
    margin: auto;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}


.banner img{
    margin-top: 20px;
    width: 100%;
}

/* teams section styles  */

.teams{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.image-group img{
    max-width: 342px;
}

.text-group{
    padding-right:70px ;
    padding-left: 70px;
    
}
.text-group h3 {
    font-size: 2.8rem;
    font-weight: 300;
    max-width: 350px;
    margin-bottom: 15px;
}

.of-our-span {
    font-weight: 700;
}
.features-span{
    font-weight: 700;
    color: #FF900E;
}

.text-grey{
    color: #727272;
    font-weight: 500;
}

.text-group p {
    font-size: 1rem;
    line-height: 26px;
    max-width: 530px;
    margin-bottom: 15px;
    
}

/* features section  */

.features{
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;

}

.feature-content h3{
    font-size: 2.8rem;
    max-width: 380px;
    color: #131313;
    background-color: #ffffff;
    border-left: 5px solid #FF900E;
    padding-left: 23px;
    
}

.feature-content > p{
    font-size: 1rem;
    max-width: 580px;
    margin-top: 10px;
    color: #727272;
}

.feature-cards-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.feature-card{
    border: 0px solid black;
    border-radius: 8px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, .06);
}

.feature-card h5{
    font-size: 1.25rem;
    color: #131313;
    margin-bottom: 10px;
}

.feature-card p{
    font-size: 1rem;
    color: #727272;
    max-width: 520px;
}

.feature-image{
    margin-top: 100px;
}

.feature-image img{
    
    max-height: 982px;
}

.ten-years{
    background-color: #FF900E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 342px;
    padding: 40px 0;
    border-radius: 8px;
    border: 0px;
    position: relative;
    bottom: 100px;
    right: 100px;

}

.ten-years h2{
 font-size: 4rem;
 font-weight: 600;
}
.ten-years p{
    font-size: 1.5rem;
}
/* facts section  */

.facts{
    margin-top: 40px;
}

.facts h3{
    font-size: 2.8rem;
    font-weight: 700;
}
.facts p{
    max-width: 570px;
    
}

.facts-cards-container{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.facts-cards-container .fact-card{
    width: 240px;
    height: 228px;

    /* padding: 30px 35px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #FF900E ;
    gap: 10px;
}

.fact-card h4{
    font-size: 2.7rem;
    color: #131313;
}

.fact-card p{
    font-size: 1.25rem;
    color: #424242;
}


/* sponsors section  */

.sponsors{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
}

.sponsors h3{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.sponsors p{
    max-width: 550px;
    text-align: center;
    margin: 15px auto;
}

.sponsor-img{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


/* footer  */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1440px;
    background-color: #fff4e7 ;
   
    margin: auto;
    margin-top: 70px;
    
}

footer p{
    font-size: 1.25rem;
    text-align: center;
    margin: auto;
}

/* responsive styles  */

/* mobile devices  */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav h3{
        margin-bottom: 15px;
    }
    nav li {
        margin-right: 0px;
    }

    nav > ul {
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        padding: 0;
    }

    .banner > h1{
        font-size: 2.3rem;
        margin-top: 30px;
    }

    .teams{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .text-group{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-group h3 {
        
        max-width: 560px;
        font-size: 2.5rem;
        text-align: center;
        
    }

    .text-group p {
        font-size: 1rem;
        line-height: 26px;
        max-width: 530px;
        margin-bottom: 15px;
        text-align: center;
        
    }

    .facts-cards-container{
        display: flex;
        justify-content: space-around;
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .facts h3, p{
        text-align: center;
    }

    .sponsor-img{
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
        gap: 30px;
    
    }

    .sponsor-img img {
        width: 165px;
    }

    .features{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 40px;
    }

    .feature-card p{
        text-align: left;
    }

    .feature-image img{
        width: 90%;
        
    }

    .feature-image{
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .ten-years{
        position: static;
        margin: 20px auto;
    }

}

/* tablet or medium devices  */

@media screen and (min-width:577px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .teams{
        flex-direction: column;
    }
    nav h3{
        margin-bottom: 15px;
    }

    .banner > h1{
        font-size: 3rem;
        margin-top: 20px;
    }

    .teams{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .text-group{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-group h3 {
        
        max-width: 560px;
        font-size: 2.5rem;
        text-align: center;
        
    }

    .text-group p {
        font-size: 1rem;
        line-height: 26px;
        max-width: 530px;
        margin-bottom: 15px;
        text-align: center;
        
    }

    .facts-cards-container{
        display: flex;
        justify-content: space-around;
        margin-top: 60px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .facts h3, p{
        text-align: center;
        margin: 0 auto;
    }

    .fact-card h4{
        font-size: 2rem;
    }
    .fact-card p{
        font-size: 1rem;
    }
    .facts-cards-container .fact-card{
        width: 180px;
        height: 179px;
    }

    .sponsor-img{
        justify-content: space-around;
    }
    .sponsor-img img {
        width: 75px;
        
    }

    .features{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 40px;
    }

    .feature-content h3{
        border: 0px;
        text-align: center;
        padding: 0;
        margin-bottom: 13px;
    }
    .feature-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .feature-card p{
        text-align: left;
    }

    .feature-image img{
        width: 90%;
        
    }

    .feature-image{
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .ten-years{
        position: static;
        margin: 20px auto;
    } 
}